<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


</head>

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!--Sidebar-->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 bg-warning min-vh-100">
                <a href="/"
                   class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Taxi Service</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 d-flex align-items-center justify-content-center text-dark">
                            <i class="fs-3 bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 d-flex align-items-center justify-content-center text-dark">
                            <i class="fs-3 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/system/users}"
                           class="nav-link px-0 d-flex align-items-center justify-content-center text-dark">
                            <i class="fs-3 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/system/cars}" class="nav-link px-0 d-flex align-items-center justify-content-center text-dark">
                            <i class="fs-3 bi-taxi-front-fill"></i> <span class="ms-1 d-none d-sm-inline">Cars</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/system/drivers}" class="nav-link px-0 d-flex align-items-center justify-content-center text-dark">
                            <i class="fs-3 bi-person-fill-gear"></i> <span
                                class="ms-1 d-none d-sm-inline">Drivers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="pb-4">
                    <a href="#" th:href="@{/login(logout)}" class="nav-link px-0 d-flex align-items-center justify-content-center text-dark">
                        <i class="fs-4 bi-door-open-fill"></i> <span class="ms-1 d-none d-sm-inline">Log out</span> </a>
                </div>
            </div>
        </div>


        <!-- USERS LIST -->
        <div class="col py-3">
            <h3>Users List</h3>
            <div class="card">
                <div class="card-body">
                    <div th:fragment="userList">

                            <div class="col-md-12">


                                    <table id="usersTable" class="table table-striped table-responsive-md">
                                        <thead>
                                        <tr>
                                            <th COLSPAN="7">
                                                <form th:action="@{/system/search-users}" method="get">
                                                    <div class="input-group mb-3 " style="width: 30%;">
                                                        <input type="text" class="form-control" name="searchLastName" placeholder="Search by Last Name">
                                                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                                                    </div>
                                                </form>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th COLSPAN="7">
                                                <a class="text-dark" th:href="@{/system/users}" style="text-decoration: none;">Default list</a>
                                            </th>
                                        </tr>



                                                <tr>
                                                    <th>
                                                        Email
                                                        <a class="text-warning" th:href="@{/system/users(sortField='email', sortOrder='asc')}" style="text-decoration: none;">▲</a>
                                                        <a class="text-dark" th:href="@{/system/users(sortField='email', sortOrder='desc')}" style="text-decoration: none;">▼</a>
                                                    </th>
                                                    <th>
                                                        First name
                                                        <a class="text-warning" th:href="@{/system/users(sortField='firstName', sortOrder='asc')}" style="text-decoration: none;">▲</a>
                                                        <a class="text-dark" th:href="@{/system/users(sortField='firstName', sortOrder='desc')}" style="text-decoration: none;">▼</a>
                                                    </th>
                                                    <th>
                                                        Last name
                                                        <a class="text-warning" th:href="@{/system/users(sortField='lastName', sortOrder='asc')}" style="text-decoration: none;">▲</a>
                                                        <a class="text-dark" th:href="@{/system/users(sortField='lastName', sortOrder='desc')}" style="text-decoration: none;">▼</a>
                                                    </th>
                                                    <th>
                                                        Phone
                                                        <a class="text-warning" th:href="@{/system/users(sortField='phone', sortOrder='asc')}" style="text-decoration: none;">▲</a>
                                                        <a class="text-dark" th:href="@{/system/users(sortField='phone', sortOrder='desc')}" style="text-decoration: none;">▼</a>
                                                    </th>
                                                    <th>
                                                        Role name
                                                        <a class="text-warning" th:href="@{/system/users(sortField='role.name', sortOrder='asc')}" style="text-decoration: none;">▲</a>
                                                        <a class="text-dark" th:href="@{/system/users(sortField='role.name', sortOrder='desc')}" style="text-decoration: none;">▼</a>
                                                    </th>

                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>


                                        </thead>
                                        <tbody>
                                        <div th:switch="${usersPage.content.size()}" class="container my-3">
                                            <tr th:case="0">
                                                <th COLSPAN="7">
                                                    <h2 CLASS=" d-flex align-items-center justify-content-center" >No Users found</h2>
                                                </th>
                                            </tr>

                                            <div th:case="*">
                                                <tr th:each="user : ${usersPage.content}">
                                                    <td th:text="${user.email}"></td>
                                                    <td th:text="${user.firstName}"></td>
                                                    <td th:text="${user.lastName}"></td>
                                                    <td th:text="${user.phone}"></td>
                                                    <td th:text="${user.role.getName()}"></td>
                                                    <td><a th:href="@{/system/update-user/{id}(id=${user.id})}"
                                                           class="btn btn-warning"><i class="fas fa-user-edit ml-2"></i></a>
                                                    </td>
                                                    <td><a th:href="@{/system/delete-user/{id}(id=${user.id})}"
                                                           class="btn btn-warning"><i class="fas fa-user-times ml-2"
                                                                                      onclick="if(!(confirm('Are you sure?'))) return false"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td COLSPAN="7">
                                                        <div th:if="${usersPage.totalPages > 1}" class="d-flex justify-content-center my-3">
                                                            <ul class="pagination">
                                                                <li class="page-item" th:classappend="${usersPage.first ? 'disabled' : ''}">
                                                                    <a class="page-link bg-warning text-dark" th:href="@{${searchLastName} ? '/system/search-users?page=' + ${(usersPage.number - 1)} +'&size=' + ${usersPage.size} + '&searchLastName=' + ${searchLastName} : '/system/users?page=' + ${(usersPage.number - 1)} +'&size=' + ${usersPage.size} + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}">&laquo;</a>
                                                                </li>
                                                                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, usersPage.totalPages - 1)}">
                                                                    <a class="page-link bg-warning text-dark" th:href="@{${searchLastName} ? '/system/search-users?page=' + ${pageNumber} + '&size=' + ${usersPage.size} + '&searchLastName=' + ${searchLastName} : '/system/users?page=' + ${pageNumber} + '&size=' + ${usersPage.size} + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}"
                                                                       th:classappend="${usersPage.number == pageNumber ? 'active border border-dark' : ''}" th:text="${pageNumber + 1}"></a>
                                                                </li>
                                                                <li class="page-item" th:classappend="${usersPage.last ? 'disabled' : ''}">
                                                                    <a class="page-link bg-warning text-dark" th:href="@{${searchLastName} ? '/system/search-users?page=' + ${(usersPage.number + 1)} + '&size=' + ${usersPage.size} + '&searchLastName=' + ${searchLastName} : '/system/users?page=' + ${(usersPage.number + 1)} + '&size=' +${usersPage.size} + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}">&raquo;</a>
                                                                </li>
                                                            </ul>
                                                        </div>



                                                    </td>
                                                </tr>

                                            </div>
                                        </div>

                                        </tbody>

                                    </table>

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>