<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>ADMIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1 th:inline="text">Hello ADMIN!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form th:action="@{/system/users}" method="get">
    <input type="submit" value="List of Users"/>
</form>
<form th:action="@{/system/roles}" method="get">
    <input type="submit" value="List of Roles"/>
</form>
<form th:action="@{/system/cars}" method="get">
    <input type="submit" value="List of Cars"/>
</form>
<form th:action="@{/system/drivers}" method="get">
    <input type="submit" value="List of Drivers"/>
</form>

</body>
</html>